In [12]:
import pickle
import pandas as pd

fp = open('./data/missing_edges.p', "rb")
missing_edges = pickle.load(fp)
df_neg = pd.DataFrame(list(missing_edges), columns=['Source', 'Destination'])
print(df_neg.shape)
df_neg.head(1)

(5683, 2)

  Source Destination
0   5268        7044

In [13]:
df_pos = pd.read_csv('./data/sub_graph.csv', names=['Source', 'Destination'])
df_pos = df_pos.drop_duplicates()
print(df_pos.shape)
df_pos.head(1)

(5683, 2)

   Source  Destination
0       1         6448

In [14]:
df_pos['Class'] = 1
df_neg['Class'] = 0
frames = [df_pos, df_neg]
df = pd.concat(frames)
print(df.shape)
df.head(-5)

(11366, 3)

     Source Destination  Class
0         1        6448      1
1         1        1376      1
2         1        1883      1
3         1        6716      1
4         1        4710      1
...     ...         ...    ...
5673    345        5283      0
5674   3053         173      0
5675    344        3268      0
5676   2423        1883      0
5677    147        3499      0

[11361 rows x 3 columns]

In [15]:
df.to_csv('./data/subset.csv')